romantable {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

td {
  width: 10%;
  padding: 8px;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
  text-align: center;
  border-bottom: 1px solid #ddd;
}

td:hover {background-color: #00afe6;}
tr:nth-child(odd) {background-color: #f2f2f2;
}
